# GOML: formerly goml.accesswidener
public net.minecraft.server.level.ServerLevel serverLevelData

# SGUI: formerly sgui.accesswidener
public net.minecraft.world.item.component.ResolvableProfile$Partial
